body {
  background-color: rgb(202, 218, 218);
}
.sidebar,
.sidebar2 {
  background-color: rgb(202, 218, 218);
  position: absolute;
  width: 25%;
  height: 100%;
  border-radius: 5%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.sidebar {
  z-index: 2;
  /* animation: fadeout 2s linear; */
}
.sidebar2 {
  z-index: -3;
  width: 75%;
  box-shadow: 250px 0px 46px 200px rgba(0, 0, 0, 0.75);
  opacity: 1;
}
.animationFadeIn {
  animation: fadein 1.5s linear;
}
.animationFadeout {
  animation: fadeout 1.5s linear;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pageNo {
  position: absolute;
  bottom: 25px;
  margin-left: 55.5%;
}

.page-link {
  border-radius: 50% !important;
  background-color: rgba(117, 117, 117, 0.76) !important;
  margin-right: 15px !important;
  font-size: larger;
  color: whitesmoke !important;
}
.page-item :hover {
  background-color: white !important;
  color: rgba(117, 117, 117, 0.76) !important;
}

.menu_active {
  background-color: whitesmoke !important;
  color: rgba(117, 117, 117, 0.76) !important;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.logo {
  max-width: 20%;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 5px;
  vertical-align: top;
}

.reader_div {
  margin: 40px 10px 0 0px;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-left: 30px;
}
.logo_text {
  margin-top: 10px;
  margin-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
}
.myPages {
  width: 76% !important;

  position: absolute;
  margin-right: 0 !important;
  height: 100%;
  margin-left: 355px;
  background-color: rgb(202, 218, 218) !important;
  padding: 30px;
}
.logo_text {
  margin-top: 10px;
}
.button_sidebar {
  background-color: rgba(163, 161, 161, 0.185) !important;
  font-size: 3rem;
  padding-top: 0 !important;
  width: 100px !important;
}
.feedback_btn {
  background-color: rgb(3, 189, 127);
  font-size: 1.2rem;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.card {
  width: 21.55rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 315px;
  display: block;
  cursor: pointer;
}
.cards {
  width: 55rem;
  display: grid;
  grid-template-columns: 8rem auto;
  height: auto;
}
/* .toggle_btn {
  background-color: greenyellow !important;
} */
.text-center :hover {
  background-color: rgb(54, 255, 47) !important;
}
.text-center :active {
  background-color: rgb(54, 255, 47) !important;
}
.text-center :focus {
  background-color: rgb(54, 255, 47) !important;
}
.card-img-top {
  order: 2;
  padding-top: 10px;
  width: auto;
  padding-left: 70px;
}
.card-body {
  order: 1;
  padding-bottom: 0;
  /* height: 220px; */
}
.card-text {
  margin-bottom: 2px;
}
.img-fluid {
  height: 40%;
  /* width: auto; */
  padding-right: 90px;
  padding-bottom: 10px;
}
.card-title {
  font-size: large;
}
.logo2 {
  max-width: 80%;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 5px;
  vertical-align: top;
  padding-left: 0 !important;
  margin-bottom: 10px;
}

.cross_btn {
  /* border-radius: 50% !important; */
  color: rgba(255, 0, 0, 0.637) !important;
  font-size: larger;
  margin-left: 285px;
  position: absolute;
  background-color: white;
}
.cross_btn2 {
  margin-left: 940px;
  margin-top: 20px;
  background-color: white;
  border-radius: 50% !important;
  color: rgba(255, 0, 0, 0.459);
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cross_btn :hover,
.cross_btn2:hover {
  color: red !important;
}
.myIframe {
  position: absolute;
  height: 65%;
  width: 80%;
  margin-top: 60px;
  border-radius: 20px;
  background-color: rgb(72, 75, 74);
  z-index: 5;
  display: none;
  box-shadow: 0px 0px 51px 500px rgba(0, 0, 0, 0.685);
}
.myIframe2 {
  display: none !important;
}
.frameButton {
  position: absolute;
  margin: 10px 0px 0px 10px;
}
.iframe {
  margin: 50px 10px 50px 10px;
  height: 87%;
  width: 97%;
  border-radius: 20px;
}
